* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    #051937,
    #28234f,
    #502a62,
    #7b2d6d,
    #a62f6e
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
}

form {
  background-color: #3f3f3f;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 400px;
  padding: 32px 16px;
  min-height: 500px;
  box-shadow: 8px 8px 5px #502a62;
  margin-top: 16px;
  margin-bottom: 16px;
}
fieldset {
  border: none;
  color: #b7b7b7;
  font-size: 2rem;
}

legend {
  text-align: center;
  padding-bottom: 16px;
}

input {
  width: 100%;
  border-radius: 5px;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 1rem;
  padding-left: 8px;
  border: none;
  font-weight: 600;
}

input::placeholder {
  color: #7f7f7f;
  font-size: 1rem;
}

label {
  width: 100%;
  color: #b7b7b7;
  text-transform: uppercase;
  font-size: 1rem;
}

button {
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #ff5f95;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

form p {
  font-size: 0.7rem;
  color: #c0327e;
}

.hidden {
  visibility: hidden;
}

p.output {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #b7b7b7;
}

#output {
  font-size: 1rem;
  color: #7a7a7a;
}

/* Menu */

menu {
  background-color: rgba(5, 25, 55, 0.6);
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  color: #b7b7b7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s;
}

menu.active {
  top: 0;
  left: 0;
}

menu ul {
  width: 100%;
}

menu ul li {
  list-style-type: none;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

menu ul li:hover {
  background-color: #a62f6e;
  color: #e3e3e3;
}

menu {
  top: -100%;
}
